---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom.css">
<body id="homepage">

  <div class="block-left flyer-panel">
    <a href="{{ site.baseurl }}/images/giveaway-flyer.pdf" class="flyer-link" target="_blank" rel="noopener" title="Open the giveaway flyer (PDF)">
      <img src="{{ site.baseurl }}/images/giveaway-flyer.png" alt="Bundle Up Hendricks County Coat Giveaway flyer. Saturday, Oct. 17th, 10 am - 2 pm. Location: Pavilion C (Sheep/Goat Barn) at Hendricks County Fairgrounds. Wear a costume and enjoy indoor trick-or-treating and refreshments! Information on the Energy Assistance Program will be available, and IU Health will provide free blood pressure screenings. Held in partnership with Prevent Child Abuse Hendricks County, Just Be Kind Club, Plainfield Federation of Churches, and Hendricks Co. 4-H Fairground &amp; Conference Center.">
    </a>
  </div>

  <div class="block-right">
    <a href="{{ site.url }}/posts" title="posts" class="posts-menu-icon"></a>
    <span class="posts-link"></span>

      <span></span>
    </a>

    <div class="content">
      <div class="about-info">
        {{ content }}
      </div>
    </div>
  </div>
  {% include overlay.html %}
  {% include scripts.html %}
</body>
</html>
