---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
{% include site-head.html %}
<body class="inner">
  {% include site-header.html %}

  <main id="main">
    <div class="page-head">
      <div class="wrap page-head__inner">
        <h1>{{ page.title }}</h1>
        {% if page.description %}<p class="page-head__lede">{{ page.description }}</p>{% endif %}
      </div>
    </div>

    <div class="wrap article">
      <ul class="post-list">
        {% for post in site.posts %}
        <li class="post-card">
          <div class="page-head__meta">
            <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%B %-d, %Y' }}</time>
          </div>
          <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title | markdownify | remove: "<p>" | remove: "</p>" }}</a></h2>
          {% assign excerpt = post.excerpt | strip_html | strip_newlines | truncatewords: 24 %}
          {% if excerpt != "" %}<p>{{ excerpt }}</p>{% endif %}
          {% if post.tags.size > 0 %}
          <ul class="tag-list">
            {% for tag in post.tags %}
            <li><a class="tag" href="{{ site.baseurl }}/tags.html#{{ tag | slugify }}">{{ tag }}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </main>

  {% include site-footer.html %}
</body>
</html>
